*
{
    padding:0;
    margin:0;
}
body{
    font-family: "Poppins", sans-serif;
}

.navbar{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.navbar_links{
    display: flex;
    column-gap: 20px;
}
.navbar_links a{
    text-decoration:none;
    color:darkolivegreen;
}
.navbar_links a:hover{
    text-decoration: underline;
    color: darkolivegreen;
}
.nav-menu{
    display: none;
}
.side-navbar{
    background-color: darkolivegreen;
    width:50%;
    height:100%;
    position:fixed;
    top:0;
    left:-60%;
    padding:20px;
    color:bisque;
    transition: 2s;
}
.side-navbar-link{
    margin-bottom:30px;
}
.side-navbar-link a{
    text-decoration: none;
    color:bisque;
}
.side-navbar-link a:hover{
    text-decoration: underline;
}


.header{
    display:flex;
    justify-content:center;
    gap:50px;
    padding:50px;
}
.header-button{
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    margin-top:10px;
    background-color: darkolivegreen;
    color:bisque;
    cursor:pointer;
}

.service{
    padding:20px;

}

.service-1{
    display: flex;
    justify-content:space-between;
    align-items:center;
}
.service-2{
    display:flex;
    justify-content:space-between;
    align-items:center;
    gap:10px;
}
.service-2 div{
    background-color:darkolivegreen;
    border-radius: 5px;
    padding:10px;
}
.new-arrival{
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;
}
.new-arrival.container{
    position:relative;
    flex-basis:20%;
}
.new-arrival.button{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    padding-bottom:5%;
    margin-top:10px;
    color: #1d232c;
    position:absolute;
    top:50%;
    left:18%;
    border-radius: 10px;
    border:none;

}.news{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
.news input{
    padding:11px;
    width: 88vw;
    margin-bottom:10px;
    border:solid darkolivegreen 3px;
}
.news button{
    margin-top:10px;
    color:bisque;
    background-color: darkolivegreen;
    border-radius: 10px;
    padding:10px;
}
.footer{
    margin-top: 20px;
    padding:40px;
    background-color: darkolivegreen;
    color: bisque;
}
.product-section{
    margin-top: 20px;
}
.product-search{
    width:80%;
    border:solid darkolivegreen 2px;
    border-radius:20px;
    display: flex;
    justify-content:space-between;
    align-items:center;
    padding:10px;
    margin:auto;
}
.product-search input{
    border: none;
    background-color: transparent;
    width:100%;
}
.product-search input:focus{
    outline: none;
}
.products{
    padding:20px;
    display: flex;
    gap:10px;
    flex-wrap:wrap;
    justify-content:space-around;
}
.product-box{
    text-align:center;
    flex-basis: 20%;
}
.product-box img{
    border-radius: 10px;
}
@media screen and (max-width:700px){
    .nav-menu{
        display:block;
    }
    .navbar_links{
        display: none;
    }
    .service-1{
        display:none;
    }
    .service-2{
        flex-direction:column;
    }
}
